<section class="no-padding-top">
          <div class="container-fluid">
            <div class="row">
<%= form_for(@proveedor) do |f| %>
  <% if @proveedor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proveedor.errors.count, "error") %> prohibited this proveedor from being saved:</h2>

      <ul>
      <% @proveedor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-lg-32">
                <div class="block">
                  <div class="title"><strong>Formulario De Proveedores</strong></div>
                  <div class="block-body text-center">
  <div class="field">
    <%= f.label :ruc %><br>
    <%= f.text_field :ruc, type: "number", required_pattern: "[0-9]{4}-[0-9]{2}-[0-9]{2}" %>
  </div>
  <div class="field">
    <%= f.label :razon_social %><br>
    <%= f.text_field :razon_social %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :prov_active %><br>
    <%= f.check_box :prov_active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
    </div>
  </div>
 </div>
<% end %>
  </div>