<p id="notice"><%= notice %></p>
  <section class="tables">   
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                   
                  
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Proveedores</h3>
                    </div>
                    <div class="card-body">

                      <!-- formulario de busqueda -->
  <%= form_tag proveedors_path, method: :get do %>
      <div class="form-group">
          <%= text_field_tag :razon_social, params[:razon_social], class: "form-control", placeholder: "Razon social" %>
      </div>
      <%= submit_tag "Buscar", name: nil, class: "btn btn-primary btn-md" %>
  <% end %>
                      <!-- fin formulario de busqueda -->

                      <div class="table-responsive">  
                        <table class="table table-striped">
  <thead>
    <tr>
      <th>Ruc</th>
      <th>Razon social</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Email</th>
      <th>Prov active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proveedors.each do |proveedor| %>
      <tr>
        <td><%= proveedor.ruc %></td>
        <td><%= proveedor.razon_social %></td>
        <td><%= proveedor.direccion %></td>
        <td><%= proveedor.telefono %></td>
        <td><%= proveedor.email %></td>
        <td><%= proveedor.prov_active %></td>
        <td><%= link_to 'Mostrar', proveedor %></td>
        <td><%= link_to 'Editar', edit_proveedor_path(proveedor) %></td>
        <td><%= link_to 'Eliminar', proveedor, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Nuevo Proveedor', new_proveedor_path %>
</div>
                    </div>
                  </div>
                </div>
               
               
                  </div>
                </div>
              </div>
            </div>

            
 
              
          </section>



