<p id="notice"><%= notice %></p>

<p>
  <strong>Ruc:</strong>
  <%= @proveedor.ruc %>
</p>

<p>
  <strong>Razon social:</strong>
  <%= @proveedor.razon_social %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @proveedor.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @proveedor.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @proveedor.email %>
</p>

<p>
  <strong>Prov active:</strong>
  <%= @proveedor.prov_active %>
</p>

<%= link_to 'Edit', edit_proveedor_path(@proveedor) %> |
<%= link_to 'Back', proveedors_path %>
