<!DOCTYPE html>
<html>
<head>
  <title>Farmacia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
       
 <% if current_user %> 
<div class="page">
      <!-- Main Navbar-->
      <header class="header">
        <nav class="navbar">
          <!-- Search Box-->
          <div class="search-box">
            <button class="dismiss"><i class="icon-close"></i></button>
            <form id="searchForm" action="#" role="search">
              <input type="search" placeholder="What are you looking for..." class="form-control">
            </form>
          </div>
          <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
              <!-- Navbar Header-->
              <div class="navbar-header">
                <!-- Navbar Brand --><a href="index.html" class="navbar-brand d-none d-sm-inline-block">
                  <div class="brand-text d-none d-lg-inline-block"><span>Farmacia </span><strong>Estrellita</strong></div>
                  <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>FE</strong></div></a>
                <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
              </div>
              <!-- Navbar Menu -->
            <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
           <!-- Logout    -->
                <li class="nav-item">
                <span class="d-none d-sm-inline">           
                         

           <li><%= link_to "Salir ", destroy_user_session_path, method: :delete%></li>
   <li><%= link_to 'Editar perfil',edit_user_registration_path %></li>
          <% else %>

          
            <li><%= link_to "",  new_user_session_path %> </li>

           <% end %>
            <% if current_user %> 
           </span></a></li>
              </ul>


              
            </div>
          </div>
        </nav>
      </header>
      <div class="page-content d-flex align-items-stretch"> 
        <!-- Side Navbar -->
        <nav class="side-navbar">
          <!-- Sidebar Header-->
           <% if current_user %> 
          
          <div class="sidebar-header d-flex align-items-center">
           
             <%= image_tag("avatar-1.jpg", :alt => "rss feed") %>
            <div class="title">
              <h1 class="h4"><%= current_user.name %></h1>
              <% if current_user.admin == true %>
              <p>Administrador</p>
              <%else%>
                <p>Usuario</p>
              <% end %>
            </div>
          </div>
          <% end %>
          <!-- Sidebar Navidation Menus--><span class="heading">Menus</span>
          <ul class="list-unstyled">
                   
                

       <li class='<%= active_for(controller: "clientes") %>'><%= link_to 'Clientes', clientes_path %></li>
     
      <li class='<%= active_for(controller: "marcas") %>'><%= link_to 'Marcas', marcas_path %></li>
       
       <li class='<%= active_for(controller: "productos") %>'><%= link_to 'Productos', productos_path %></li>
      
      <li class='<%= active_for(controller: "seccions") %>'><%= link_to 'Secciones', seccions_path %></li>
            
      <li class='<%= active_for(controller: "tipo_meds") %>'><%= link_to 'Tipo de medicamentos', tipo_meds_path %></li>
      
      <li class='<%= active_for(controller: "proveedors_meds") %>'><%= link_to 'Proveedores', proveedors_path %></li>
                    <% end %>
                    <li>           <% if current_user %>

           <li><%= link_to "salir", destroy_user_session_path, method: :delete%></li>

          <% else %>

          
            <li><%= link_to "",  new_user_session_path %> </li>

           <% end %></li>
          
        </nav>
         <% if current_user %>
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom"></h2>
            </div>
          </header>
 <% end %>
   

<%= yield %>


</body>
</html>
