<section class="no-padding-top">
          <div class="container-fluid">
            <div class="row">
<%= form_for(@marca) do |f| %>
  <% if @marca.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@marca.errors.count, "error") %> prohibited this marca from being saved:</h2>

      <ul>
      <% @marca.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-lg-12">
                <div class="block">
                  <div class="title"><strong>Formulario De Marcas</strong></div>
                  <div class="block-body text-center">
  <div class="field">
    <%= f.label :marca_descrip %><br>
    <%= f.text_field :marca_descrip %>
  </div>
  <div class="field">
    <%= f.label :marca_active %><br>
    <%= f.check_box :marca_active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
    </div>
  </div>
 </div>
<% end %>
  </div>
</section>