<p id="notice"><%= notice %></p>
  <section class="tables">   
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                   
                  
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Marca</h3>
                    </div>
                    <div class="card-body">

                      <!-- formulario de busqueda -->
  <%= form_tag marcas_path, method: :get do %>
      <div class="form-group">
          <%= text_field_tag :marca_descrip, params[:marca_descrip], class: "form-control", placeholder: "Descripcion" %>
      </div>
      <%= submit_tag "Buscar", name: nil, class: "btn btn-primary btn-md" %>
  <% end %>
                      <!-- fin formulario de busqueda -->

                      <div class="table-responsive">  
                        <table class="table table-striped">
  <thead>
    <tr>
      <th>Descripcion</th>
<% if current_user.admin == true %>
      <th>Marca active</th>
<% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @marcas.each do |marca| %>
      <tr class="danger">
        <td><%= marca.marca_descrip %></td>

<% if current_user.admin == true %>
        <td><%= marca.marca_active %></td>
<% end %>

        <td><%= link_to 'Mostrar', marca %></td>
        <td><%= link_to 'Editar', edit_marca_path(marca) %></td>
        <td><%= link_to 'Eliminar', marca, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Nueva Marca', new_marca_path %>
 </div>
                </div>
                    </div>
                  </div>
                </div>
               
               
                  </div>
                </div>
              </div>
          

            
 
              
          </section>




