<p id="notice"><%= notice %></p>

<p>
  <strong>Marca descrip:</strong>
  <%= @marca.marca_descrip %>
</p>

<% if current_user.admin == true %>
<p>
  <strong>Marca active:</strong>
  <%= @marca.marca_active %>
</p>
<% end %>

<%= link_to 'Editar', edit_marca_path(@marca) %> |
<%= link_to 'Atras', marcas_path %>
