<section class="charts">
            <div class="container-fluid">
              <div class="row">
                <!-- Line Charts-->
                <div class="col-lg-8">
                  <div class="line-chart-example card">
                   
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Formulario De tipos De Medicamentos</h3>
                    </div>
            <div class="row">
<%= form_for(@tipo_med) do |f| %>
  <% if @tipo_med.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_med.errors.count, "error") %> prohibited this tipo_med from being saved:</h2>

      <ul>
      <% @tipo_med.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-lg-12">
                <div class="block">
                   
                  <div class="block-body text-center">
  <div class="field">
    <%= f.label :tipo_descrip %><br>
    <%= f.text_field :tipo_descrip %>
  </div>
  <div class="field">
    <%= f.label :tipo_active %><br>
    <%= f.check_box :tipo_active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
 </div>
    </div>
  </div>
 </div>
<% end %>
  </div>
</section>