 <body>
    <div class="page login-page">
      
 <section class="tables">   
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                   
                  
                    
                    <div class="card-body">
                      <div class="table-responsive">  
                        <table class="table table-hover">

<thead>
    <tr>
      <th colspan="5">Medicamentos que vencen hoy</th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |prod| %>
      <% if prod.fecha_vence == Date.today %>
      <tr class="danger">
        <td><%= prod.codigo %></td>
        <td><%= prod.prod_descrip %></td>
        <td><%= prod.fecha_vence %></td>
        <td><%= prod.cantidad %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>


   <thead>
    <tr>
      <th colspan="5"> Poca cantidad de medicamento </th>
    </tr>
  </thead>
  <tbody>
    
    <% @productos.each do |prod| %>
    <% if prod.cantidad <=  1  %>
      <tr>
        <td class="danger"><%= prod.codigo %></td>
        <td><%= prod.prod_descrip %></td>
        <td><%= prod.fecha_vence %></td>
        <td><%= prod.cantidad %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
                        </table>

 </div>
                </div>
                    </div>
                  </div>
                </div>
               
               
                  </div>
                </div>
              </div>
          

            
 
              
          </section>
 </body>