<p id="notice"><%= notice %></p>

<p>
  <strong>Droga descrip:</strong>
  <%= @droga.droga_descrip %>
</p>

<p>
  <strong>Droga active:</strong>
  <%= @droga.droga_active %>
</p>

<%= link_to 'Edit', edit_droga_path(@droga) %> |
<%= link_to 'Back', drogas_path %>
