<%= form_for(@producto) do |f| %>
  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% @producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo %><br>
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :prod_descrip %><br>
    <%= f.text_field :prod_descrip %>
  </div>
  <div class="field">
    <%= f.label :fecha_vence %><br>
    <%= f.date_select :fecha_vence %>
  </div>

  <div class="field">
    <%= f.label :precio_compra %><br>
    <%= f.text_field :precio_compra %>
  </div>

  <div class="field">
    <%= f.label :precio_venta %><br>
    <%= f.text_field :precio_venta %>
  </div>

  <div class="field">
    <%= f.label :prod_active %><br>
    <%= f.check_box :prod_active %>
  </div>

  <div class="field">
    <%= f.label :marca_id %><br>
    <%= select_tag("marca[marca_id]",  options_for_select(@marca.map{|m|["#{m.marca_descrip}", m.id]})) %>  
  </div>

  <div class="field">
    <%= f.label :proveedor_id %><br>
   <%= select_tag("proveedor[proveedor_id]",  options_for_select(@proveedor.map{|c|["#{c.razon_social}", c.id]})) %>
  </div>

  <div class="field">
    <%= f.label :seccion_id %><br>
    <%= select_tag("seccion[seccion_id]",  options_for_select(@seccion.map{|c|["#{c.sec_descrip}", c.id]})) %>
  </div>

  <div class="field">
    <%= f.label :tipo_med_id %><br>
    <%= select_tag("tipo_med[tipo_med_id]",  options_for_select(@tipo_med.map{|c|["#{c.tipo_descrip}", c.id]})) %>
  </div>

<div class="field">
    <%= f.label :droga_id %><br>
   <%= select_tag("droga[droga_id]",  options_for_select(@droga.map{|c|["#{c.droga_descrip}", c.id]})) %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script type="text/javascript">
          $('select#marca_marca_id').select2({
            placeholder: "Marca",
            allowClear: true
          });

          $('select#proveedor_proveedor_id').select2({
            placeholder: "Proveedor",
            allowClear: true
          });

         
          $('select#seccion_seccion_id').select2({
            placeholder: "Seccion",
            allowClear: true
          });

         
          $('select#tipo_med_tipo_med_id').select2({
            placeholder: "Tipo de medicamento",
            allowClear: true
          });

         
          $('select#droga_droga_id').select2({
            placeholder: "Droga",
            allowClear: true
          });
</script>