<section class="charts">
            <div class="container-fluid">
              <div class="row">
                <!-- Line Charts-->
                <div class="col-lg-8">
                  <div class="line-chart-example card">
                   
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Formulario De Marcas</h3>
                    </div>
            <div class="row">
<%= form_for(@producto) do |f| %>
  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% @producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-lg-12">
                  <div class="form d-flex align-items-center">
                
                  <div class="  content">
  <div class="field">
    <%= f.label :codigo %><br>
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :prod_descrip %><br>
    <%= f.text_field :prod_descrip %>
  </div>
  <div class="field">
    <%= f.label :fecha_vence %><br>
    <%= f.date_select :fecha_vence %>
  </div>

  <div class="field">
    <%= f.label :precio_compra %><br>
    <%= f.text_field :precio_compra %>
  </div>

  <div class="field">
    <%= f.label :precio_venta %><br>
    <%= f.text_field :precio_venta %>
  </div>

  <div class="field">
    <%= f.label :prod_active %><br>
    <%= f.check_box :prod_active %>
  </div>

  <div class="field">
    <%= f.label :marca_id %><br>
    <%= select_tag"producto[marca_id]",  options_for_select(@marca.map{|m|["#{m.marca_descrip}", m.id]}), id:"marca_id" %>  
  </div>

  <div class="field">
    <%= f.label :proveedor_id %><br>
   <%= select_tag"producto[proveedor_id]",  options_for_select(@proveedor.map{|c|["#{c.razon_social}", c.id]}), id:"proveedor_id" %>
  </div>

  <div class="field">
    <%= f.label :seccion_id %><br>
    <%= select_tag"producto[seccion_id]",  options_for_select(@seccion.map{|c|["#{c.sec_descrip}", c.id]}), id:"seccion_id" %>
  </div>

  <div class="field">
    <%= f.label :tipo_med_id %><br>
    <%= select_tag"producto[tipo_med_id]",  options_for_select(@tipo_med.map{|c|["#{c.tipo_descrip}", c.id]}), id:"tipo_med_id" %>
  </div>

  <div class="actions">
    <%= f.submit 'Guardar', :class => 'btn btn-primary'%>
  </div>
</div>
    </div>
  </div>
 </div>
<% end %>
  </div>

<script>
              $(document).ready(function() {
                  $('select#marca_id').select2();
                });
              $(document).ready(function() {
                  $('select#proveedor_id').select2();
                });
              $(document).ready(function() {
                  $('select#seccion_id').select2();
                });
              $(document).ready(function() {
                  $('select#tipo_med_id').select2();
                });
</script>

</div>
                </div>
              </div>
            </div>
          </section>