<p id="notice"><%= notice %></p>

<h1>Productos</h1>

<table class="table table-warning">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Prod descrip</th>
      <th>Fecha vence</th>
      <th>Cantidad</th>
      <th>Precio compra</th>
      <th>Precio venta</th>
      <th>Prod active</th>
      <th>Marca</th>
      <th>Proveedor</th>
      <th>Seccion</th>
      <th>Tipo med</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.codigo %></td>
        <td><%= producto.prod_descrip %></td>
        <td><%= producto.fecha_vence %></td>
        <td><%= producto.cantidad %></td>
        <td><%= producto.precio_compra %></td>
        <td><%= producto.precio_venta %></td>
        <td><%= producto.prod_active %></td>
        <td><%= producto.marca %></td>
        <td><%= producto.proveedor.razon_social %></td>
        <td><%= producto.seccion %></td>
        <td><%= producto.tipo_med.tipo_descrip %></td>
        <td><%= link_to 'Show', producto %></td>
        <td><%= link_to 'Edit', edit_producto_path(producto) %></td>
        <td><%= link_to 'Destroy', producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producto', new_producto_path %>
