<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @producto.codigo %>
</p>

<p>
  <strong>Prod descrip:</strong>
  <%= @producto.prod_descrip %>
</p>

<p>
  <strong>Fecha vence:</strong>
  <%= @producto.fecha_vence %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @producto.cantidad %>
</p>

<p>
  <strong>Precio compra:</strong>
  <%= @producto.precio_compra %>
</p>

<p>
  <strong>Precio venta:</strong>
  <%= @producto.precio_venta %>
</p>

<% if current_user.admin == true %>
<p>
  <strong>Prod active:</strong>
  <%= @producto.prod_active %>
</p>
<% end %>

<p>
  <strong>Marca:</strong>
  <%= @producto.marca.marca_descrip %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @producto.proveedor.razon_social %>
</p>

<p>
  <strong>Seccion:</strong>
  <%= @producto.seccion.sec_descrip %>
</p>

<p>
  <strong>Tipo med:</strong>
  <%= @producto.tipo_med.tipo_descrip %>
</p>

<%= link_to 'Editar', edit_producto_path(@producto) %> |
<%= link_to 'Atras', productos_path %>
